<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App: Password reset link</title>
</head>

<body>
    <small>Hello, {{user.name}}</small>

    <p>To initiate the password reset process for your {{ user.email }} Django App Account,
        click the link below:</p>
    <a href="#">{{reset_link}}</a>

    <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser
        window instead.</p>

    <em>Thank you</em><br />
    <em>Team <b><a href="#">To Do List App</a></b></em>
</body>

</html>